<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Wild-Movie</title>
        <script type="text/javascript" src="{{ asset('js/script.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}" ></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wild-Movie</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
                Voir les instructions
              </button>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">S'enregistrer</a></li>
              <li><a href="#">Se connecter</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      {% block body %}

      {% endblock %}

      <div class="col-md-12 empty">
      
      </div>

      <div class="col-md-12 footer">
        <h4>Wild-Movie - Projet d'entraînement</h4>
        <h3>Wild Code School 2016</h3>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Instructions</h4>
            </div>
            <div class="modal-body">
              <p>Bonjour à toi Wilder !</p>

              <p>Bienvenue dans cet examen BLANC.</p>

              <p>Ce projet va te permettre de t'entraîner à la logique algorythmique ainsi qu'à l'intégration d'une nouvelle fonctionnalitée.</p>

              <p>L'exercice se découpe en 2 parties.</p>

              <p>- l'intégration (HTML / CSS) d'une page "article" <a href="{{ path('article_show') }}"><strong>ici</strong></a></p>
              <p>- l'intégration d'une fonctionnalité de commentaires sur la fiche d'un film (la réponse aux commentaires est falcultative).<strong> Tu devras d'abord ajouter un film dans la BDD <a href="{{ path('admin_film_new') }}">ici </strong></a> ! </p>

              <p>Bon courage ! </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>

    </body>
</html>
