{% extends '::base.html.twig' %}

{% block body %}

<div class="col-md-6 col-md-offset-3 form-new">
	
	<div class="col-md-12">
		<h1>Ajoutez un nouveau film</h1>
		<hr>
	</div>

	{{ form_start(form) }}
		<div class="col-md-12">
			{{ form_label(form.titre) }}
		</div>
		<div class="col-md-12">
			{{ form_widget(form.titre) }}
		</div>
		<div class="col-md-12">
			{{ form_label(form.description) }}
		</div>
		<div class="col-md-12">
			{{ form_widget(form.description) }}
		</div>
		<div class="col-md-12">
			{{ form_label(form.parution) }}
		</div>
		<div class="col-md-12">
			{{ form_widget(form.parution) }}
		</div>
		<div class="col-md-12">
			{{ form_label(form.folder) }}
		</div>
		<div class="col-md-12">
			{{ form_widget(form.folder) }}
		</div>
		<div class="col-md-12">
			<hr>
			<input type="submit">
		</div>

	{{ form_end(form) }}
</div>

{% endblock %} 